@model IEnumerable<Entity.Concrete.Category>
<table>
    <tr>
        <th>ID</th>
        <th>Kategori Adı</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryID</td>
            <td>@item.CategoryName</td>
        </tr>
    }
</table>
